:root {
  --custom-primary: #19171d;
  --custom-secondary: #a3a3a6;
  --custom-light: #d1d2d3;
  --custom-border: #2f2f2f;
}

#chatOnboard,
#todo-tab,
.nav__tabs__bottom > div > :nth-child(2),
.virtualized-scroll > :nth-child(n + 2),
.msg-filters-bar,
#contact-search > :nth-child(3),
#ztoolbar > :nth-child(n + 4),
.chat-input-btns > .flx-1,
.chat-input-btns > :nth-child(3),
#headerBtns > :nth-child(1),
#headerBtns > :nth-child(2),
#headerBtns > :nth-child(3),
.flx.flx-al-c.w100 > :nth-child(n + 2),
.scroll-content > :nth-child(n + 2) {
  display: none !important;
}

.friend-center-main.subtract-title .flx.flx-al-c.w100 > :nth-child(n + 1) {
  display: block !important;
}

.fake-textholder,
.group-search__icon,
.z--btn--chatbar--danger:hover:not(.--disabled):not(.--activated),
.z--btn--chatbar--primary:hover:not(.--disabled):not(.--activated),
.z--btn--chatbar--secondary-red:hover:not(.--disabled):not(.--activated),
.z--btn--chatbar--secondary:hover:not(.--disabled):not(.--activated),
.z--btn--chatbar--tertiary:hover:not(.--disabled):not(.--activated),
.event-message__content,
.z--btn--text--tertiary {
  color: var(--custom-primary) !important;
}

.z--btn--chatbar--danger,
.z--btn--chatbar--primary,
.z--btn--chatbar--secondary,
.z--btn--chatbar--secondary-red,
.z--btn--chatbar--tertiary,
.conv-message,
.conv-item-title__more,
.subtitle__groupmember__content,
.quote-text,
.data-list__label,
.recent-display-name,
.recent-header,
.header-title {
  color: var(--custom-secondary) !important;
}

.conv-item-title__name,
.title.header-title,
.quote-name-container,
.contact_add_friend_item,
.contact-list__add__icon,
.fr-conv-item-title,
#richInput,
.fr-center-top.flx.flx-al-c > :nth-child(3),
.fr-center-top.flx > .flx.flx-al-c.w100 > :nth-child(3),
.group-center-item__title__cate {
  color: var(--custom-light) !important;
}

.card-sender-name,
.gr-description.member {
  color: var(--custom-border) !important;
}

#contact-search-input {
  border-color: var(--custom-light) !important;
}

#messageView:before,
#messageView:after,
.chat-input__content,
.fr-center-top.flx {
  border-color: var(--custom-border) !important;
}

#container,
#sidebarNav,
#main-tab,
#contact-search,
#header,
#messageView,
#ztoolbar,
.conv-item,
.chat-input__content,
.fr-center-top.flx,
.rel.h100.w100,
.rel.h100.w100 > :nth-child(2) {
  background-color: var(--custom-primary) !important;
}

.event-message__content,
.card,
#contact-search-input,
.gr-item {
  background-color: var(--custom-secondary) !important;
}

.z--btn--text--tertiary {
  background-color: var(--custom-light) !important;
}

.conv-item:hover,
.conv-item.selected,
.quote-banner,
.contact-list__add:hover,
.contact-list-item:hover,
.contact-list-item.selected {
  background-color: var(--custom-border) !important;
}

#sidebarNav,
#main-tab {
  border-right: 1px solid var(--custom-border) !important;
}

.virtualized-scroll > :nth-child(1) {
  overflow-x: hidden !important;
  margin-right: -6px !important;
  margin-bottom: unset !important;
}

.nav__tabs__zalo.web {
  height: unset !important;
  padding: 16px 0 !important;
}

#contactList {
  top: 64px !important;
  height: calc(100% - 64px) !important;
}

.friend-center-main,
.friend-center-main.subtract-title {
  height: 100% !important;
}

.gr-item {
  border: unset !important;
}

.zl-avatar__group {
  box-shadow: unset !important;
}
